.container {
  margin-top: 100px;
}
.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    max-height: 70vh ;
    // background: linear-gradient(135deg, #e09, #d0e);
  
    mat-card {
      width: 400px;
      padding: 20px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      background-color: #fff;
      transition: transform 0.3s, box-shadow 0.3s;
  
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
      }
    }
  
    mat-card-header {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
  
      .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
        color: #673ab7;
      }
  
      .login-icon {
        font-size: 20px;
        color: #673ab7;
      }
    }
  
    .full-width {
      width: 100%;
    }
  
    mat-card-actions {
      display: flex;
      justify-content: center;
      margin-top: 20px;
  
      button {
        padding: 10px 40px;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Full viewport height */
    width: 100vw;
    /* Full viewport width */
    position: fixed;
    /* Fix the spinner at the center of the screen */
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    /* Optional: semi-transparent background */
    z-index: 9999;
    /* Ensure it is on top of other content */
}