<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<div class="container">
  @if (isLoading) {
    <div class="loading-overlay">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  }
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="register-form">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="title">{{ 'REGISTER.TITLE' | translate }}</mat-card-title>
        <mat-icon aria-label="Register Icon" class="register-icon">person_add</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'REGISTER.EMAIL' | translate }}</mat-label>
          <mat-icon matPrefix>email</mat-icon>
          <input
            matInput
            formControlName="email"
            type="email"
            placeholder="{{ 'REGISTER.EMAIL_PLACEHOLDER' | translate }}"
            />
            @if (registrationForm.get('email')?.invalid && email?.touched) {
              <mat-error>
                @if (registrationForm.get('email')?.errors?.['required']) {
                  <span>
                    {{ 'REGISTER.EMAIL_REQUIRED' | translate }}
                  </span>
                }
                @if (registrationForm.get('email')?.errors?.['email']) {
                  <span>
                    {{ 'REGISTER.INVALID_EMAIL' | translate }}
                  </span>
                }
                @if (registrationForm.get('email')?.hasError('invalidEmail')) {
                  <span>
                    {{ 'INVALID_EMAIL_COM' | translate }}
                  </span>
                }
              </mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{ 'REGISTER.PASSWORD' | translate }}</mat-label>
            <mat-icon matPrefix>lock</mat-icon>
            <input
              matInput
              formControlName="password"
              type="password"
              placeholder="{{ 'REGISTER.PASSWORD_PLACEHOLDER' | translate }}"
              />
              @if (registrationForm.get('password')?.invalid && password?.touched) {
                <mat-error>
                  @if (registrationForm.get('password')?.errors?.['required']) {
                    <span>
                      {{ 'REGISTER.PASSWORD_REQUIRED' | translate }}
                    </span>
                  }
                  @if (registrationForm.get('password')?.errors?.['minlength']) {
                    <span>
                      {{ 'REGISTER.PASSWORD_MIN_LENGTH' | translate }}
                    </span>
                  }
                </mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>{{ 'REGISTER.CONFIRM_PASSWORD' | translate }}</mat-label>
              <mat-icon matPrefix>lock</mat-icon>
              <input
                matInput
                formControlName="confirmPassword"
                type="password"
                placeholder="{{ 'REGISTER.CONFIRM_PASSWORD_PLACEHOLDER' | translate }}"
                />
                @if (confirmPassword?.invalid && confirmPassword?.touched) {
                  <mat-error>
                    @if (confirmPassword?.errors?.['required']) {
                      <span>
                        {{ 'REGISTER.CONFIRM_PASSWORD_REQUIRED' | translate }}
                      </span>
                    }
                    @if (registrationForm.errors?.['passwordMismatch']) {
                      <span>
                        {{ 'REGISTER.PASSWORD_MISMATCH' | translate }}
                      </span>
                    }
                  </mat-error>
                }
              </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
              <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="registrationForm.invalid"
                >
                {{ 'REGISTER.SUBMIT' | translate }}
              </button>
            </mat-card-actions>
          </mat-card>
        </form>
      </div>
