<mat-toolbar color="primary">
  <!-- Home navigation link -->
  <a mat-button [routerLink]="'/home'" class="nav-item">
    <mat-icon>home</mat-icon>
    {{ 'HOME' | translate }}
  </a>

  <!-- Management dropdown screens -->
  <button mat-button [matMenuTriggerFor]="managementMenu" class="nav-item">
    <mat-icon>settings</mat-icon>
    {{ 'MANAGEMENT' | translate }}
  </button>

  <mat-menu #managementMenu="matMenu">
    @if(canRegisterUser){
    <ng-container>
      <button mat-menu-item [routerLink]="'/employee-management'">
        <mat-icon>group</mat-icon>
        {{ 'EMPLOYEE_MANAGEMENT' | translate }}
      </button>
    </ng-container>
    }

    <button mat-menu-item [routerLink]="'/leave-management'">
      <mat-icon>event_note</mat-icon>
      {{ 'LEAVE_MANAGEMENT' | translate }}
    </button>
  </mat-menu>

  <!-- System Administration dropdown screens -->
  @if(canRegisterUser){
  <button mat-button [matMenuTriggerFor]="systemAdminMenu" class="nav-item">
    <mat-icon>admin_panel_settings</mat-icon>
    {{ 'SYSTEM_ADMINISTRATION' | translate }}
  </button>

  <mat-menu #systemAdminMenu="matMenu">

    <ng-container>
      <button mat-menu-item [routerLink]="'/nationalities'">
        <mat-icon>flag</mat-icon>
        {{ 'NATIONALITIES' | translate }}
      </button>
      <button mat-menu-item [routerLink]="'/job-names'">
        <mat-icon>work</mat-icon>
        {{ 'JOB_NAMES' | translate }}
      </button>
      <button mat-menu-item [routerLink]="'/departments'">
        <mat-icon>business</mat-icon>
        {{ 'MANAGEMENT_DEPARTMENTS' | translate }}
      </button>
      <!-- <button mat-menu-item [routerLink]="'/gender'">
        <mat-icon>person_add_alt</mat-icon>
        {{ 'GENDER' | translate }}
      </button>
      <button mat-menu-item [routerLink]="'/marital-status'">
        <mat-icon>person_add_alt</mat-icon>
        {{ 'MaritalStatus' | translate }}
      </button> -->
      <button mat-menu-item [routerLink]="'/register'">
        <mat-icon>person_add_alt</mat-icon>
        {{ 'REGISTER.TITLE' | translate }}
      </button>
    </ng-container>


  </mat-menu>
  }
  <!-- Spacer to push other items to the right -->
  <span class="spacer"></span>

  <!-- Language menu -->
  <button mat-button [matMenuTriggerFor]="languageMenu" class="nav-item">
    <mat-icon>language</mat-icon>
    {{ 'LANGUAGE' | translate }}
  </button>

  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item (click)="changeLanguage('en')">
      <mat-icon>flag</mat-icon>
      {{ 'ENGLISH' | translate }}
    </button>
    <button mat-menu-item (click)="changeLanguage('ar')">
      <mat-icon>flag</mat-icon>
      {{ 'ARABIC' | translate }}
    </button>
  </mat-menu>

  <!-- Logout button -->
  <button mat-button (click)="logout()" class="nav-item">
    <mat-icon>logout</mat-icon>
    {{ 'LOGOUT' | translate }}
  </button>

  <!-- Hamburger menu for smaller screens -->
  <button mat-icon-button [matMenuTriggerFor]="mobileMenu" class="hamburger-menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #mobileMenu="matMenu">
    <button mat-menu-item [routerLink]="'/home'">
      <mat-icon>home</mat-icon>
      {{ 'HOME' | translate }}
    </button>
    @if(canRegisterUser){
    <button mat-menu-item [routerLink]="'/employee-management'">
      <mat-icon>group</mat-icon>
      {{ 'EMPLOYEE_MANAGEMENT' | translate }}
    </button>
    }

    <button mat-menu-item [routerLink]="'/leave-management'">
      <mat-icon>event_note</mat-icon>
      {{ 'LEAVE_MANAGEMENT' | translate }}
    </button>
    @if(canRegisterUser){
    <button mat-menu-item [routerLink]="'/register'">
      <mat-icon>person_add_alt</mat-icon>
      {{ 'REGISTER.TITLE' | translate }}
    </button>
    }

    <button mat-menu-item (click)="changeLanguage('en')">
      <mat-icon>flag</mat-icon>
      {{ 'ENGLISH' | translate }}
    </button>
    <button mat-menu-item (click)="changeLanguage('ar')">
      <mat-icon>flag</mat-icon>
      {{ 'ARABIC' | translate }}
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      {{ 'LOGOUT' | translate }}
    </button>
  </mat-menu>
</mat-toolbar>