<mat-toolbar color="primary">
  <a mat-button [routerLink]="'/home'">{{ 'HOME' | translate }}</a>
  <a mat-button [routerLink]="'/employee-management'">{{ 'EMPLOYEE_MANAGEMENT' | translate }}</a>
  <!-- <a mat-button [routerLink]="'/login'">{{ 'LOGIN.TITLE' | translate }}</a>
  <a mat-button [routerLink]="'/register'">{{ 'REGISTER.TITLE' | translate }}</a>
   -->
  <span class="spacer"></span>

  <span>{{ 'EMPLOYEE_MANAGEMENT' | translate }}</span>
  
  <span class="spacer"></span>
  
  <button mat-button [matMenuTriggerFor]="menu">{{ 'LANGUAGE' | translate }}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="changeLanguage('en')">{{ 'ENGLISH' | translate }}</button>
    <button mat-menu-item (click)="changeLanguage('ar')">{{ 'ARABIC' | translate }}</button>
  </mat-menu>

  <!-- Add the logout button here -->
  <button mat-button (click)="logout()">{{ 'LOGOUT' | translate }}</button>
</mat-toolbar>
