<form [formGroup]="employeeForm" (ngSubmit)="saveEmployee()" class="employee-form p-3">
  <div class="form-grid">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'EMPLOYEES_ARABIC_NAME' | translate }}</mat-label>
      <input matInput formControlName="name" placeholder="{{ 'EMPLOYEES_ARABIC_NAME' | translate }}" />
      <mat-error *ngIf="employeeForm.get('name')?.hasError('required')">
        {{ 'FIELD_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'EMPLOYEES_ENGLISH_NAME' | translate }}</mat-label>
      <input matInput formControlName="englishName" placeholder="{{ 'EMPLOYEES_ENGLISH_NAME' | translate }}" />
      <mat-error *ngIf="employeeForm.get('englishName')?.hasError('required')">
        {{ 'FIELD_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'POSITION' | translate }}</mat-label>
      <mat-select formControlName="jobTitleId">
        <mat-option *ngFor="let job of jobTitles" [value]="job.id">
          {{ job | translateText }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="employeeForm.get('jobTitleId')?.hasError('required')">
        {{ 'FIELD_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'DEPARTMENT' | translate }}</mat-label>
      <mat-select formControlName="departmentId">
        <mat-option *ngFor="let department of departments" [value]="department.id">
          {{ department | translateText}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="employeeForm.get('departmentId')?.hasError('required')">
        {{ 'FIELD_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'GENDER' | translate }}</mat-label>
      <mat-select formControlName="genderId">
        <mat-option *ngFor="let g of gender" [value]="g.id">
          {{ g |translateText }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="employeeForm.get('genderId')?.hasError('required')">
        {{ 'FIELD_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>{{ 'NATIONALITIE' | translate }}</mat-label>
      <mat-select formControlName="nationalitieId">
        <mat-option *ngFor="let n of nationalities" [value]="n.id">
          {{ n | translateText }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="employeeForm.get('nationalitieId')?.hasError('required')">
        {{ 'FIELD_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'MARITAL_STATUS' | translate }}</mat-label>
      <mat-select formControlName="maritalStatusId">
        <mat-option *ngFor="let m of maritalStatus" [value]="m.id">
          {{ m | translateText }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="employeeForm.get('maritalStatusId')?.hasError('required')">
        {{ 'FIELD_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <!-- Add your new fields here -->
    <mat-form-field appearance="fill">
      <mat-label>{{ 'PHONE_NUMBER' | translate }}</mat-label>
      <input matInput formControlName="phoneNumber" placeholder="{{ 'PHONE_NUMBER' | translate }}" />
      <mat-error *ngIf="employeeForm.get('phoneNumber')?.hasError('required')">
        {{ 'FIELD_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'IDENTITY_NUMBER' | translate }}</mat-label>
      <input matInput formControlName="identityNumber" placeholder="{{ 'IDENTITY_NUMBER' | translate }}" />
      <mat-error *ngIf="employeeForm.get('identityNumber')?.hasError('required')">
        {{ 'FIELD_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'HIRE_DATE' | translate }}</mat-label>
      <input matInput [matDatepicker]="hireDatePicker" formControlName="hireDate" placeholder="{{ 'HIRE_DATE' | translate }}" />
      <mat-datepicker-toggle matSuffix [for]="hireDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #hireDatePicker></mat-datepicker>
      <mat-error *ngIf="employeeForm.get('hireDate')?.hasError('required')">
        {{ 'FIELD_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-buttons">
    <button mat-raised-button color="primary" type="submit">
      {{ isEditMode ? ('UPDATE' | translate) : ('ADD' | translate) }}
    </button>
    <button mat-button color="warn" (click)="cancel()">
      {{ 'CANCEL' | translate }}
    </button>
  </div>
</form>
