<div class="container">
   <div class="image-container">
     <a [routerLink]="'/employee-management'">
       <img src="assets/images/What-is-Attendance-Software-for-Employee-Management-and-How-Does-it-Work_-feature-image-1.png" alt="Employee Management">
     </a>
     <div class="path-name">
       {{ 'EMPLOYEE_MANAGEMENT' | translate }}
     </div>
   </div>

   <!-- <div class="image-container">
     <a [routerLink]="'/register'">
       <img src="assets/images/How-Does-Attendance-Software-for-Employee-Management-Work_.png" alt="Employee Management">
     </a>
     <div class="path-name">
       {{ 'REGISTER.TITLE' | translate }}
     </div>
   </div> -->
 </div>
 
