/* Footer Toolbar Styling */
.footer-toolbar {
    padding: 16px;
    justify-content: center;
    text-align: center;
  }
  
  /* Footer text and link styling */
  .footer-text {
    color: white;
  }
  
  .footer-link {
    color: #ffeb3b; /* Highlight color for the link */
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .footer-toolbar {
      padding: 30px 0;
    }
  
    .footer-link {
      display: block;
      margin-top: 3px;
    }
  }
  