.container {
    margin-top: 70px;
    padding-bottom: 0px !important;
    max-width: 100%;
    box-sizing: border-box;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
  }
  
  button {
    margin-right: 10px;
  }
  

    /* Toolbar styling */
    .toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    /* Adjust search field width */
    .search-employee {
      max-width: 500px; /* Adjust as needed */
      flex: 1;
      margin-left: 16px;
    }