<p>marital-status works!</p>
<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<div class="container-gender">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <fieldset>
        <legend>
            <mat-icon  color="primary" class="icon-spacing">corporate_fare</mat-icon>
            {{ 'MANAGEMENT_DEPARTMENTS' | translate }}
        </legend>
        <app-shared-form [formGroup]="maritalStatusForm" [fields]="maritalStatusFields" [isEditing]="isEditing"
            (submitForm)="isEditing ? updateMaritalStatus() : addMaritalStatus()" (cancelForm)="resetForm()">
        </app-shared-form>
    </fieldset>

    <fieldset>
        <legend>
            <mat-icon  color="primary" class="icon-spacing">view_list</mat-icon>
            {{ 'DATA_LIST' | translate }}
        </legend>
        <app-shared-table [dataSource]="maritalStatus" [displayedColumns]="displayedColumns"
            [columnDefinitions]="columnDefinitions" [showViewAction]="false" (onEdit)="editMaritalStatus($event)"
            (onDelete)="deleteMaritalStatus($event)">
        </app-shared-table>
    </fieldset>
</div>