<app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
<div class="container-job-titles">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <fieldset>
    <legend>
      <mat-icon color="primary">work</mat-icon>
      {{ 'MANAGEMENT_JOB_TITLES' | translate }}
    </legend>
    <app-shared-form [formGroup]="jobTitlesForm" [fields]="jobTitlesFields" [isEditing]="isEditing"
      (submitForm)="isEditing ? updateJobTitle() : addJobTitle()" (cancelForm)="resetForm()">
    </app-shared-form>
  </fieldset>

  <fieldset>
    <legend>
      <mat-icon color="primary">list_alt</mat-icon>
      {{ 'DATA_LIST' | translate }}
    </legend>
    <app-shared-table [dataSource]="jobTitles" [displayedColumns]="displayedColumns"
      [columnDefinitions]="columnDefinitions" [showViewAction]="false" (onEdit)="editJobTitle($event)"
      (onDelete)="deleteJobTitle($event)">
    </app-shared-table>
  </fieldset>
</div>