<div class="container">
  @if(isLoading){
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  
  <div class="toolbar mt-2">
    <button mat-raised-button color="primary" (click)="openDialog()">
      {{ 'ADD_EMPLOYEE' | translate }}
    </button>

    <mat-form-field class="search-employee">
      <mat-label>{{ 'SEARCH_EMPLOYEE' | translate }}</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="{{ 'ENTER_NAME' | translate }}">
    </mat-form-field>
  </div>

  <hr />

  <h3>{{ 'EMPLOYEE_LIST' | translate }}</h3>
  
  <app-shared-table
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    [columnDefinitions]="columnDefinitions"
    (onEdit)="openDialog($event)"
    (onDelete)="deleteEmployee($event)">
  </app-shared-table>

  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
</div>
