<div class="container px-3">
  @if(isLoading){
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  
  <div class="toolbar">
    <button mat-raised-button color="primary" (click)="openDialog()">
      {{ 'ADD_EMPLOYEE' | translate }}
    </button>

    <mat-form-field class="search-employee">
      <mat-label>{{ 'SEARCH_EMPLOYEE' | translate }}</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="{{ 'ENTER_NAME' | translate }}">
    </mat-form-field>
  </div>

  <!-- <hr /> -->

  <h2>{{ 'EMPLOYEE_LIST' | translate }}</h2>
  
  <app-shared-table
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    [columnDefinitions]="columnDefinitions"
    (onEdit)="openDialog($event)"
    (onDelete)="deleteEmployee($event)"
    (onView)="viewEmployeeDetails($event)">
  </app-shared-table>

  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
</div>
