<div class="container">
  <div class="toolbar d-flex justify-content-between">
    <button mat-raised-button color="primary" (click)="openDialog()">
      {{ 'ADD_EMPLOYEE' | translate }}
    </button>

    <mat-form-field class="search-employee">
      <mat-label>{{ 'SEARCH_EMPLOYEE' | translate }}</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="{{ 'ENTER_NAME' | translate }}">
    </mat-form-field>
  </div>

  <hr />

  <h3>{{ 'EMPLOYEE_LIST' | translate }}</h3>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> {{ 'NAME' | translate }} </th>
      <td mat-cell *matCellDef="let employee"> {{ employee.name }} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="jobTitle">
      <th mat-header-cell *matHeaderCellDef> {{ 'POSITION' | translate }} </th>
      <td mat-cell *matCellDef="let employee"> {{ getJobTitleById(employee.jobTitleId) }} </td>
    </ng-container>

    <!-- Department Column -->
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef> {{ 'DEPARTMENT' | translate }} </th>
      <td mat-cell *matCellDef="let employee"> {{ getDepartmentById(employee.departmentId) }} </td>
    </ng-container>

    <!-- gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> {{ 'GENDER' | translate }} </th>
      <td mat-cell *matCellDef="let employee"> {{ getGenderById(employee.genderId) }} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> {{ 'ACTIONS' | translate }} </th>
      <td mat-cell *matCellDef="let employee">
        <button mat-icon-button color="primary" (click)="openDialog(employee)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteEmployee(employee.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
</div>
