@use '@angular/material' as mat;
@include mat.core();
@import 'node_modules/ngx-toastr/toastr.css';


html,
body {
    height: 100%;
    width: 100%;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.497), rgba(255, 255, 255, 0.394)),
        url('../src/assets/images/Pdf.PNG');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    direction: inherit;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

.footer-toolbar {
    background-color: #3f51b5;
    color: #fff;
    text-align: center;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.footer-text {
    margin: 0;
}

.footer-link {
    color: #fff;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.main-section {
    margin-top: 60px !important;
}

fieldset {
    float: right !important;
    width: 100% !important;
}

legend {
    color: #b68038 !important;
    font-size: 14px !important;
}

#add_button {
    text-align: center;
    margin-top: 20px;
}

