<form [formGroup]="employeeForm" (ngSubmit)="saveEmployee()" class="employee-form p-3">
  <div class="form-grid">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'NAME' | translate }}</mat-label>
      <input matInput formControlName="name" placeholder="{{ 'NAME' | translate }}" />
      <mat-error *ngIf="employeeForm.get('name')?.hasError('required')">
        {{ 'FIELD_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'POSITION' | translate }}</mat-label>
      <mat-select formControlName="jobTitleId">
        <mat-option *ngFor="let job of jobTitles" [value]="job.id">
          {{ job.arabic }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="employeeForm.get('jobTitleId')?.hasError('required')">
        {{ 'FIELD_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'DEPARTMENT' | translate }}</mat-label>
      <mat-select formControlName="departmentId">
        <mat-option *ngFor="let department of departments" [value]="department.id">
          {{ department.arabic }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="employeeForm.get('departmentId')?.hasError('required')">
        {{ 'FIELD_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'GENDER' | translate }}</mat-label>
      <mat-select formControlName="genderId">
        <mat-option *ngFor="let g of gender" [value]="g.id">
          {{ g.arabic }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="employeeForm.get('genderId')?.hasError('required')">
        {{ 'FIELD_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'NATIONALITIE' | translate }}</mat-label>
      <mat-select formControlName="nationalitieId">
        <mat-option *ngFor="let n of nationalities" [value]="n.id">
          {{ n.arabic }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="employeeForm.get('nationalitieId')?.hasError('required')">
        {{ 'FIELD_REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-buttons">
    <button mat-raised-button color="primary" type="submit">
      {{ isEditMode ? ('UPDATE' | translate) : ('ADD' | translate) }}
    </button>
    <button mat-button color="warn" (click)="cancel()">
      {{ 'CANCEL' | translate }}
    </button>
  </div>
</form>
